

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
  /*un margin del top . para quedar justo abajo del NAV*/
  body{
    margin-top: 51px;
  } 
  /* Solo aplica a login. con tamaño especifico*/
.mr-login{
  background: url(../img/login-back.jpg) no-repeat center top fixed;
  margin-top: -51px;
}
.mr-login-background{
  background: rgba(0,0,0,0.6);
  border-radius: 14px;
}
.mr-index{
  text-shadow: 2px 2px #000000;
  background: url(../img/login-back.jpg) no-repeat;
  background-position: 50% 73%;
  border-bottom-right-radius: 14px; 
  border-bottom-left-radius: 14px;
}
/* De uso General para el Sitio*/
.color-white{ /*Color Blanco*/
  color: #FFFFFF;
}
.color-blue-1{
  color: #009AFF;
}
.bgcolor-blue-1{
  background-color: #009AFF;
}
.mr-glyphicon-1{
  font-size: 30px;
  padding: 10px;
}
.mr-infobar{
  background-color: #008DFF;
  color: #FFFFFF;
  height: 30px;
  line-height: 30px;
  text-align: right;
  padding-right: 20px;
}
.mr-justificar{
  text-align: justify;
}
.separate{
  width: 30%;
  border-bottom: 1px solid #E4E4E4;
  margin-top: 10px;
  margin-bottom: 30px;
}











